.hide {
    display: none;
}

.gameContainer {
    margin-top: 3em;
}

.gameMode {
    color: #ffffff;
}

@media only screen and (max-width: 700px) {
    .gameContainer {
        margin-top: 5em;
    }
}
