.home_image {
    height: 49em;
}

.reduced_width {
    width: 25%;
}

.normal_width {
    width: 75%;
}

.carousel-caption {
    padding: 0;
    top: 30%;
    bottom: 0;
}

.header {
    color: #ffffff;
}

@media only screen and (max-width: 1000px) {
    .reduced_width {
        width: 75%;
    }
    .normal_width {
        width: 100%;
    }
}