.home_image {
    height: 49em;
}

.reduced_width {
    width: 25%;
}

.normal_width {
    width: 75%;
}

.carousel-caption {
    padding: 0;
    top: 30%;
    bottom: 0;
}

.applications_developed {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(175,175,175,1) 0%, rgba(126,187,189,1) 0%, rgba(9,98,105,1) 82%);
}

.header {
    color: #ffffff;
}

@media only screen and (max-width: 1000px) {
    .reduced_width {
        width: 75%;
    }
    .normal_width {
        width: 100%;
    }
}

