.square, .winSquare {
    border: 1px solid #999;
    float: left;
    font-size: 2em;
    font-weight: bold;
    line-height: 34px;
    height: 5em;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 5em;
}

.square {
    background: #fff;
}

.winSquare {
    background:#d1e7dd;
}

.square:disabled, .winSquare:disabled {
    color: #000000;
}

@media only screen and (max-width: 600px) {
    .square, .winSquare {
        font-size: 1.15em;
    }
}